Library
Temp
TestBuild_OSX.app
*.csproj
*.sln
Outpost.userprefs
Outpost-csharp.userprefs
CurrentLayout.dwlt
TestBuild_OSX copy.app
TestBuild_Win.exe
TestBuild_Win.zip
TestBuild_Win_Data
TestBuild_WebGL
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
UnityVS.Outpost.v12.suo
/Screenshots
Assets/UnityVS/
.vs/Outpost/v14/.suo
Assets/UnityVS.meta
