Library/metadata
Library/ScriptAssemblies
Temp
TestBuild_OSX.app
*.csproj
*.sln
Outpost.userprefs
Outpost-csharp.userprefs
CurrentLayout.dwlt
TestBuild_OSX copy.app
TestBuild_Win.exe
TestBuild_Win.zip
TestBuild_Win_Data
Library/ShaderCache
